* {
    box-sizing: border-box;
  }
  
  body, html {
    background-color: var(--color-light);
    font-family: 'roboto-condensed';
    font-size: var(--m);
    font-weight: var(--fw-regular);
  }
  
  main {
    max-width: 80rem;
    background-color: var(--color-light);
    margin-inline: auto;
  }
  
  header {
    background-color: var(--color-lightest);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--fw-bold);
  }
  
  h1 {
    padding: var(--xxs);
    font-size: var(--xl);
  }
  
  h2 {
    padding: var(--s);
    font-size: var(--l);
  }
  
  h3 {
    font-size: var(--m);
  }
  
  footer {
    background-color: var(--color-light);
  }
  